body {
    margin: auto;
    text-align: center;
    background-image: url(bg.png);
}
.wrapper{
    position: relative;
    margin: auto;
    width: 600px;
    height: 410px;
    top: 100px;
}
h1 {
    position: absolute;
    top: 25px;
    left: 80px;
    width: 400px;
    text-align: center;
    font-family: fantasy;
    font-size: 35pt;
    color: white;
    text-decoration: underline;
}
.links {
    position: absolute;
    left: 50px;
    top: 190px;
    width: 30px;    
}
a {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 18pt;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}