body {
    background-color: #b9b9b9;
}
.total {
    position: relative;
    top: 0px;
    left: 0px;
}
h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.taskcounter {
    position: absolute;
    top: 90px;
    left: 20px;
    font-family: monospace;
    text-align: left;
    font-size: 12pt;
    color: #666666;
}

.todos {
    position: absolute;
    top: 150px;
    left: 20px;
}

.addButton {
    position: absolute;
    left: 450px;
    top: 155px;
    width: 100px;
    height: 40px;
    font-family: monospace;
    font-size: 14pt;
}

.newtask {
    width: 400px;
    height: 40px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.taskspace {
    position: absolute;
    top: 230px;
    left: 20px;
    width: 400px;
    height: 1000px;
}

.template {
    position: relative;
    top: 0%;
    left: 0%;
    width: 400px;
    height: 45px;
    background-color: #ffffff;
}


.firsttask {
    position: absolute;
    top: 4%;
    left: 10%;
    width: 320px;
    height: 38px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
}

.trash {
    position: absolute;
    top: 20%;
    left: 90%;
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: 16pt;
}
.trash:hover {
    color: #ff0606;
}
.checkbox {
    position: absolute;
    top: 20%;
    left: 0%;
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: 25px;
}
.checkbox:hover {
    color: #3cff00;
}
#done {
    position: absolute;
    top: 20%;
    left: 0%;
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: 25px;
}