body {
    margin: auto;
    text-align: center;
}
div {
    position: relative;
    margin: auto;
    top: 100px;
    width: 640px;
    height: 480px;
}
.telephone {
    position: absolute;
    top: 30px;
    left: 30px;
}
.fiftyfifty {
    position: absolute;
    top: 30px;
    right: 30px;
}
h1 {
    position: absolute;
    width: 640px;
    top: 30px; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22pt;
    color: white;
    text-decoration: underline;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: auto;
    text-decoration: none;
}
.question {
    position: absolute;
    width: 640px;
    height: 125px;
    top: 178px;
    left: 0px;
}
#questiontext {
    padding-top: 38px;
}
#question4 {
    left: 124px;
    padding-top: 30px;
    width: 400px;
    line-height: large;
}
a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: normal;
    padding: 15px 0px;
    text-decoration: none;
}
.a1 {
    position: absolute;
    width: 640px;
    top: 300px;
    left: 0px;
}
.a2 {
    position: absolute;
    width: 640px;
    top: 340px;
    left: 0px;
}
.a3 {
    position: absolute;
    width: 640px;
    top: 380px;
    left: 0px;
}
.a4 {
    position: absolute;
    width: 640px;
    top: 420px;
    left: 0px;
}
.a1:hover, .a2:hover, .a3:hover, .a4:hover {
    background-image: url(images/answer_over.png);
}